<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Orders</h2>

<table>
  <tr>
    <th>Id</th>
    <th>Time Made</th>
    <th>Order Total</th>
    <th>Action</th>
  </tr>
  {% for order in orders %}
    <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.time_made }}</td>
        <td>{{ order.order_total }}</td>
        <td></td>
    </tr>
  {% endfor %}
</table>

</body>
</html>

