<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Products</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Stock</th>
    <th>Price</th>
    <th>Action</th>
  </tr>
  {% for product in products %}
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.stock }}</td>
        <td>{{ product.price }}</td>
        <td></td>
    </tr>
  {% endfor %}
</table>

</body>
</html>

